In [1]:
import pymysql
from functools import partial

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)

connection = pymysql.connect(
    host='localhost',
    user='root',
    password='hugo1hug',
    database='mydb')

db = partial(run_db_query, connection)

In [140]:
db('show tables')
db('describe usuarios')
db('describe post')
db('describe mencionar')
db('describe visualizado')
#db('INSERT INTO usuarios (Nome, Email, Cidade) VALUES ("KKK", "dasd@ads.com", "Barueri");')
db('select * from usuarios')
#db('INSERT INTO post (Titulo,Texto,URL,Atividade, Usuarios_idUsuarios) VALUES (1, "xasxaxaxa", "www.Ahmedabad", 0, 2);')
#db('INSERT INTO visualizado (Post_idPost, Usuarios_idUsuarios, IP, Browser, Aparelho, Data) VALUES (5, 1, 198162, "chrome2", "tpl1", "1999-01-01");')
#db('INSERT INTO mencionar (Usuarios_idUsuarios, Post_idPost, Ativar) VALUES (3, 6, 1);')
#db('INSERT INTO passaros (Nome, Especie) VALUES ("Cho", "lele");')
db('INSERT INTO Tag (Passaros_idPassaros,Post_idPost,Ativar) VALUES (2,6, 1);')
#db('UPDATE Post SET Atividade = 1  WHERE Titulo = "2"')
db('select * from post')
#db('select * from mencionar')
db('select * from passaros')
db('select * from Tag')

Executando query:
('joinha',)
('mencionar',)
('passaros',)
('post',)
('rankingpop',)
('rankingpopu',)
('tag',)
('usuarios',)
('usuarios_passaros',)
('visualizado',)
Executando query:
('idUsuarios', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('Nome', 'varchar(45)', 'NO', '', None, '')
('Email', 'varchar(45)', 'NO', '', None, '')
('Cidade', 'varchar(45)', 'NO', '', None, '')
Executando query:
('idPost', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('Titulo', 'varchar(45)', 'NO', '', None, '')
('Texto', 'varchar(300)', 'YES', '', None, '')
('URL', 'varchar(45)', 'YES', '', None, '')
('Atividade', 'tinyint(4)', 'YES', '', None, '')
('Usuarios_idUsuarios', 'int(11)', 'NO', 'MUL', None, '')
Executando query:
('Usuarios_idUsuarios', 'int(11)', 'NO', 'PRI', None, '')
('Post_idPost', 'int(11)', 'NO', 'PRI', None, '')
('Ativar', 'tinyint(4)', 'YES', '', None, '')
Executando query:
('Post_idPost', 'int(11)', 'NO', 'PRI', None, '')
('Usuarios_idUsuarios', 'int(11)', 'NO', 'PRI', None, '')
('IP', 'varchar(45)', 'NO', '', None, '')
('Browser', 'varchar(45)', 'NO', '', None, '')
('Aparelho', 'varchar(45)', 'NO', '', None, '')
('Data', 'datetime', 'NO', '', None, '')
Executando query:
(1, 'Joao', 'dasd@ads.com', 'Sorocaba')
(2, 'Mario', 'dasd@ads.com', 'Sorocaba')
(3, 'Felipe', 'dasd@ads.com', 'Barueri')
(4, 'KKK', 'dasd@ads.com', 'Barueri')
Executando query:
Executando query:
(2, '2', 'dasdassssss', 'www.Ahmedabad', 0, 1)
(3, '2', 'sas', 'www.Ahmedabad', 0, 1)
(4, '2', 'xasxaxaxa', 'www.Ahmedabad', 0, 1)
(5, '1', 'xasxaxaxa', 'www.Ahmedabad', 0, 1)
(6, '1', 'xasxaxaxa', 'www.Ahmedabad', 0, 2)
Executando query:
(1, 'Chico', 'lala')
(2, 'Cho', 'lele')
Executando query:
(1, 2, 1)
(1, 4, 1)
(1, 5, 1)
(2, 3, 1)
(2, 6, 1)

In [143]:
1#db('SELECT * FROM Post INNER JOIN Usuarios ON Post.Usuarios_idUsuarios = Usuarios.idUsuarios WHERE Nome = "ENTRANOME" ORDER BY idPost DESC;')

2#db('''CREATE VIEW RankingPoPu AS SELECT Cidade, idUsuarios, Nome FROM Usuarios INNER JOIN Mencionar ON Usuarios.idUsuarios = Mencionar.Usuarios_idUsuarios 
#    GROUP BY Usuarios_idUsuarios ORDER BY COUNT(Post_idPost) DESC;''')
#db('Select * from RankingPoPu Group by Cidade')

3#db('''SELECT Nome FROM Usuarios WHERE idUsuarios in 
#(SELECT Post.Usuarios_idUsuarios FROM Mencionar INNER JOIN Usuarios ON Usuarios.idUsuarios = Mencionar.Usuarios_idUsuarios 
#INNER JOIN Post ON Mencionar.Post_idPost = Post.idPost WHERE Nome = "Felipe" GROUP BY Post.Usuarios_idUsuarios);''')

4#db('''SELECT Browser, Aparelho, COUNT(IP) FROM Visualizado GROUP BY Browser, Aparelho;''')

5#db('''SELECT URL, Passaros_idPassaros FROM Post INNER JOIN Tag ON Post.idPost = Tag.Post_idPost GROUP BY Passaros_idPassaros, URL;''')

Executando query:
('www.Ahmedabad', 1)
('www.Ahmedabad', 2)

In [28]:
#connection.rollback()
connection.close()

In [112]:
db('select * from mencionar')

Executando query:

InterfaceError: (0, '')

In [106]:
db('select * from post')

Executando query:
(21, '2', 'dasd,Ramesh', 'www.Ahmedabad', 7, 19)